
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgb(226,240,238);
  background-color: rgb(2,23,103);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  
}

}